.donate {
    text-align: center;

}
.pres-photos {
    display:flex;
    justify-content: space-around;
}
img {
    width: 200px;
    height: 300px;
}
.cardi {
    color:red;
    font-family:'Staatliches', cursive;
    text-align:center;
    font-size:30px;
}
button {
    width: 200px;
    height: 50px;
    color:black;
    margin-bottom: 20px;
    background-color:lime;
}
.quote {
    Color:Red;
    Font-size:30px;
    font-family:'Staatliches', cursive;
    text-align:center;
}

    
    

